p3{
    color:red;
    font-size:30px;
}
.lol{
    background-color: aqua;
    height:170px;
    width: 100%;
}
.lol2{
    background-color:yellowgreen;
    height:250px;
    width: 100%;
}
.lol3{
    background-color: aqua;
    height:170px;
    width: 100%;
}